/* Home.css */

.home-container {
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2e7d32;
    /* Green shade for agriculture */
    margin-bottom: 20px;
}

.home-text {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.home-button {
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
     margin: 20px; /* 👈 adds space around each button */

}

.home-button:hover {
    
    background-color: #388e3c;
    /* Darker green on hover */
}